<%- include('header') -%>

<article class="article">
  <div class="article__content">
    <%- article.content %>
  </div>
  <a class="back" href="/">Til baka</a>
</article>

<%- include('footer') -%>
